<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{{ asset('assets/img/favicon/favicon.svg') }}">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicon/apple-touch-icon.png') }}">
    <meta name="apple-mobile-web-app-title" content="ant-team-checker">
    {# <link rel="manifest" href="{{ asset('site.webmanifest') }}"> #}
    
    <link href="/assets/styles/mobile.css" rel="stylesheet">
    <link href="/assets/styles/reset.css" rel="stylesheet">
    <link href="/assets/styles/style.css" rel="stylesheet">


    {% block head %}

    {% endblock %}

    {% block gtm %}
        {% include 'partials/gtm.html.twig' %}
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}
        <main class="main">
            {% block body %}
                <!-- Контент страницы будет вставляться сюда -->
            {% endblock %}
        </main>
        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}
    </div>

    {% block footer_script %}
        
    {% endblock %}
</body>
</html>




